#erste{
    background-color: #ffa600;
    color: #394050;

    }
#backgroundformull{
    background-color: #215fe1;
    margin-left: 50px;
    margin-right: 50px;
}
#txt{
    background-color: #ef0505;
    color: white;
    padding: 5px 10px;
}
#fname{
    width: 200px;
    height: 20px;
}

