body{
background : url("tierschutz-hunde.jpg" ) ;
    background-size: contain;

}
/*backgrand seit web ist mein foto/*/
#one1{
    width:100% ;
}

.ersie {
    color: red;
    background-color: black;
}
#tipp{
    color: darkgreen;
    background-color: #ffa600;
}
h1 {
    color: rgba(138, 43, 226, 0.5);/*dunkel farbe*/
}
h2 {
    color: blueviolet;
    background-color: red;
}

.neww{
    color: #738a6e;
<a href="index.html"><h1  class="neww">home</h1></a>
}
.neww2{
    color: red;
<a href="madi.html"><h1 class="neww2">mahdi :)</h1></a>
}
#one{
    font-size: 50px;
}